<h1>Productos</h1>
<ul>
    {{#each products}}
        <li>
            <strong>{{title}}</strong> - ${{price}} - <a href="/products/{{_id}}">Ver detalle</a>
        </li>
    {{/each}}
</ul>

<div>
    {{#if hasPrevPage}}
        <a href="/products?page={{prevPage}}">Anterior</a>
    {{/if}}
    Página {{page}}
    {{#if hasNextPage}}
        <a href="/products?page={{nextPage}}">Siguiente</a>
    {{/if}}
</div>
